DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=jadwal
DB_USER=root
DB_PASS=

JAVA_BASE_URL=http://localhost:8080
API_PREFIX=/api/v1

JAVA_ADMIN_USERNAME=
JAVA_ADMIN_PASSWORD=

GENERATE_SLEEP_SECONDS=10

SERVER_HOST=127.0.0.1
SERVER_PORT=8082
